.home-page {
    height: 100%;

    .header {
        background: #fff;
        padding: 0;
    }

    .content {
        margin: 24px 48px 0;
        .bill-list {
            padding: 24px;
            background-color: #fff;
            border: 1px solid #f0f0f0;
        }
    }

    .footer {
        text-align: center;
    }
}